.Seccionproductos{
    background-color: papayawhip;
}
.container-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap:40px;   
    
    
}
@media only screen and (max-width:540px){
    .container-productos{
        display: grid;
        grid-template-columns: 1fr ;
        gap:35px;   
    }
    
}
@media only screen and (min-width: 541px) and (max-width:790px){
    .container-productos{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap:35px;   
    }
    
}